<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"/>
<div class="cartera">
 <span style="font-family: Lobster, italic;font-size: 40px; margin-left: auto;">En la Red</span>
 <div class="tarjeta tfacebook">
  <a class="fa-facebook" href="#">Facebook</a>
 </div>
 <div class="tarjeta tgoogle">
  <a class="fa-google-plus" href="#">Google+</a>
 </div>
 <div class="tarjeta ttwitter">
  <a class="fa-twitter" href="#">Twitter</a>
 </div>
 <div class="tarjeta tlinkedin">
  <a class="fa-linkedin" href="#">Linkedin</a>
 </div>
 <div class="tarjeta tpinterest">
  <a class="fa-pinterest" href="#">Pinterest</a>
 </div>
 <div class="tarjeta tinstagram">
  <a class="fa-instagram" href="#">Instagram</a>
 </div>
</div>