
<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <p>{{web}}</p>
</div>

<article class="about">
    <h2>Sobre mi</h2>
    <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed tempor neque, id lobortis massa. Fusce lorem ante, 
            sollicitudin vitae porttitor vel, lobortis ut libero. Aliquam maximus convallis augue quis feugiat. Curabitur et efficitur mi
            Mauris efficitur odio in enim porttitor, non euismod augue lobortis. Fusce fringilla nibh sed leo fermentum, non mollis augue congue. 
            Nulla feugiat ipsum odio, quis auctor arcu tempor eu. Aenean non leo justo. Curabitur porta elit lacus, id cursus massa tempus quis.
            Proin urna sapien, semper in mauris condimentum, pulvinar finibus tellus. Vestibulum non nunc tortor. Mauris eget lacus sit amet sapien pretium 
            dapibus volutpat sed arcu. Sed condimentum ornare dolor, at suscipit orci interdum sit amet. Phasellus finibus eu erat sit amet rutrum.
            Pellentesque dignissim in felis sed lobortis
    </p>
</article>